.App {
  text-align: center;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

@media (max-width: 768px) {
  .App {
    padding-left: 4%;
    padding-right: 4%;
  }
}
