.App {
  text-align: center;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
